@import "../../../assets/styles/variables";

.main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;

  li {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: $mainDark;
  }
}